@import url(./_font.css);

* {
  box-sizing: border-box;
}

body {
  background-color: #2c2222;
  font-family: "Roboto Mono", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  margin: 24px 0;
}

.link {
  background-color: #e6e6e6;
  text-decoration: none;
  text-align: center;
  width: 300px;
  margin: 6px 0;
  padding: 20px 40px;
  border: solid 2px #000;
  border-radius: 10px;
  color: #000;
}

.link:active {
  transform: scale(0.97);
}

.countProjects {
  text-align: center;
  width: 300px;
  color: #fff;
  margin-bottom: 6px;
  padding: 6px;
  border-bottom: 1px solid #fff;
}
