@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #2c2222;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




h1 {
  color: #fff;
  text-transform: uppercase;
  margin: 24px 0;
}

.link {
  background-color: #e6e6e6;
  text-decoration: none;
  text-align: center;
  width: 300px;
  margin: 6px 0;
  padding: 20px 40px;
  border: solid 2px #000;
  border-radius: 10px;
  color: #000;
}

.link:active {
  transform: scale(0.97);
}

.countProjects {
  text-align: center;
  width: 300px;
  color: #fff;
  margin-bottom: 6px;
  padding: 6px;
  border-bottom: 1px solid #fff;
}
